services:
  redis:
    container_name: weather_cache
    image: redis:bookworm
    volumes:
      - ./var/redis:/data
    networks:
      - weather-bot

  bot:
    container_name: weather_bot
    networks: 
        - weather-bot
    build:
      context: .
      dockerfile: ./Dockerfile
    env_file:
      - .env
    depends_on:
      - redis

networks:
  weather-bot:
    driver: bridge